.date-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;


  @include media-min ($md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    font-weight: 600;
    font-size: 14px;
    color: #1e1d1b;

    @include media-min ($lg) {
      font-size: 24px;
    }
  }

  &__input {
    border: 1px solid #1e1d1b33;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    color: #1e1d1b;
    padding: 12px 22px;

    @include media-min ($lg) {
      font-size: 20px;
      padding: 20px 36px;
    }
  }
}
