.details-form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  & .form__inner {
    margin-bottom: 12px;
    gap: 10px;

    @include media-min ($lg) {
      margin-bottom: 16px;
      gap: 18px;
    }
  }

  & .form__field {
    gap: 4px;

    @include media-min ($lg) {
      gap: 8px;
    }
  }

  & .form__label {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;

    @include media-min ($lg) {
      font-size: 14px;
    }
  }

  &__input-icon {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 17px;
      height: 17px;

      @include media-min ($lg) {
        background-size: 26px 26px;
        width: 26px;
        height: 26px;
        right: 16px;
      }
    }

    &--date {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.248 3.1981H11.7104V2.58301C11.7104 2.21721 11.4111 1.91797 11.0453 1.91797C10.6795 1.91797 10.3803 2.21721 10.3803 2.58301V3.1981H6.03511V2.58301C6.03511 2.21721 5.73587 1.91797 5.37007 1.91797C5.00426 1.91797 4.70503 2.21721 4.70503 2.58301V3.1981H3.16741C2.53787 3.1981 2.02563 3.71022 2.02563 4.33976V12.7733C2.02563 13.4029 2.53776 13.915 3.16741 13.915H12.2279C13.4201 13.915 14.3897 12.9454 14.3897 11.7532V4.33976C14.3897 3.71022 13.8776 3.1981 13.248 3.1981ZM3.16741 4.10834H4.70582C4.71458 4.46663 5.00973 4.75711 5.37007 4.75711C5.73029 4.75711 6.02532 4.46663 6.0342 4.10834H10.3811C10.39 4.46663 10.6849 4.75711 11.0453 4.75711C11.4056 4.75711 11.7007 4.46663 11.7096 4.10834H13.248C13.3736 4.10834 13.4795 4.21438 13.4795 4.33976V6.11745H2.93587V4.33976C2.93587 4.21426 3.04191 4.10834 3.16741 4.10834ZM2.93587 12.7733V7.01346H13.4795V11.0028H11.6195L11.6059 13.0047H3.16741C3.04191 13.0047 2.93587 12.8987 2.93587 12.7733ZM12.5164 12.9698L12.5237 11.913H13.468C13.4014 12.4316 13.0171 12.851 12.5164 12.9698Z' fill='%231E1D1B' /%3E%3Cpath d='M5.58972 9.16158C5.59428 8.74457 5.74298 8.43965 5.98169 8.23632C6.22052 8.03801 6.54502 7.94141 6.89637 7.94141C7.80649 7.94141 8.10834 8.55161 8.10834 8.85141C8.10834 9.59371 7.69373 9.59371 7.69373 9.60896V9.61908C7.69373 9.65982 8.20733 9.65982 8.20733 10.4479C8.20733 10.88 7.91901 11.5612 6.8917 11.5612C5.48129 11.5612 5.47697 10.4426 5.4995 10.1784H6.35546C6.35091 10.3666 6.39153 10.5087 6.47709 10.6003C6.56265 10.7172 6.69338 10.758 6.85108 10.758C7.10788 10.758 7.27013 10.6513 7.27013 10.3615C7.27013 10.0512 7.05839 9.99535 6.85108 9.99535C6.72035 9.99535 6.65732 10.0107 6.58973 10.021V9.3294C6.65732 9.33452 6.72945 9.34977 6.85108 9.34977C7.04041 9.34977 7.27912 9.30414 7.27912 9.02971C7.27912 8.8059 7.05384 8.71943 6.86917 8.71943C6.6258 8.71943 6.42759 8.86677 6.43658 9.16169L5.58972 9.16158Z' fill='%231E1D1B' /%3E%3Cpath d='M9.54621 9.48215H8.81177V8.75009C9.26677 8.76033 9.71745 8.56725 9.7443 7.98242H10.4833V11.5208H9.54621V9.48215Z' fill='%231E1D1B' /%3E%3C/svg%3E");
      }
    }

    &--person {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4796 14.4304V13.1125C13.4796 12.4134 13.2019 11.7429 12.7076 11.2486C12.2132 10.7543 11.5428 10.4766 10.8437 10.4766H5.57192C4.87284 10.4766 4.20239 10.7543 3.70807 11.2486C3.21374 11.7429 2.93604 12.4134 2.93604 13.1125V14.4304' stroke='%231E1D1B' stroke-width='1.31794' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M8.20767 7.84014C9.66343 7.84014 10.8436 6.66001 10.8436 5.20425C10.8436 3.74849 9.66343 2.56836 8.20767 2.56836C6.7519 2.56836 5.57178 3.74849 5.57178 5.20425C5.57178 6.66001 6.7519 7.84014 8.20767 7.84014Z' stroke='%231E1D1B' stroke-width='1.31794' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
      }
    }
  }

  & .form__input {
    font-weight: 500;
    font-size: 12px;
    color: var(--main-text);
    padding: 12px 10px;
    border-radius: 7px;
    background-color: #fff;
    border: none;
    width: 100%;

    @include media-min ($lg) {
      font-size: 16px;
      padding: 20px 16px;
      border-radius: 11px;
    }
  }

  &__btn {
    background-color: #003580;
    border-radius: 7px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #f5f5f5;

    @include media-min ($lg) {
      border-radius: 11px;
      font-size: 15px;
      padding: 16px 20px;
    }
  }
}
