body {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;
  font-family: $main-font, Arial, Helvetica, sans-serif;
  color: var(--main-text);
  background-color: var(--main-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 600;
}

.is-accent {
  color: var(--accent);
}
